<div class="cardimage">
    <div class="userinfo">
        <div class="avatar">
            <img src="https://i.pinimg.com/originals/df/c5/fa/dfc5faf10d97e9c45fb29f8ecff17716.jpg" alt="avatar">
        </div>
        <div class="infotext">
            <h3>John Doe</h3>
            <p>Web DeveloperWeb DeveloperWeb DeveloperWeb Developer</p>
        </div>
    </div>
    <div class="blogdata">
        <div class="item">
            <a href="#">
                <span class="bd-name">Blog</span>
                <span class="bd-count">10</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="bd-name">Blog</span>
                <span class="bd-count">10</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="bd-name">Blog</span>
                <span class="bd-count">10</span>
            </a>
        </div>
    </div>
    <div class="userlinks">
        <a class="linkicon" href="#"><i class="fa-brands fa-github fa-xl"></i></a>
        <a class="linkicon" href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a class="linkicon" href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a class="linkicon" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a class="linkicon" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a class="linkicon" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a class="linkicon" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a class="linkicon" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
    </div>
</div>