<div class="cardimage">
    <div class="userinfo">
        <div class="avatar">
            <img src="https://i.pinimg.com/originals/df/c5/fa/dfc5faf10d97e9c45fb29f8ecff17716.jpg" alt="avatar">
        </div>
        <div class="infotext">
            <h3><%= theme.infocard.author %></h3>
            <p><%= theme.infocard.introduce %></p>
        </div>
    </div>
    <div class="blogdata">
        <div class="item">
            <a href="#">
                <span class="bd-name">Blog</span>
                <span class="bd-count">10</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="bd-name">Blog</span>
                <span class="bd-count">10</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="bd-name">Blog</span>
                <span class="bd-count">10</span>
            </a>
        </div>
    </div>
    <div class="userlinks">
        <% theme.infocard.links.forEach(element => { %>
            <a class="linkicon" href="<%=element['link']%>"><i class="<%=element['icon']%>"></i></a>
        <%}); %>
    </div>
</div>