<div id="rightmenu">
    <div class="rightmenugroup rightmenu-top">
        <a class="rightmenuitem" href="javascript:window.history.back();"><i class="fa fa-arrow-left"></i></a>
        <a class="rightmenuitem" href="javascript:window.history.forward();"><i class="fa fa-arrow-right"></i></a>
        <a class="rightmenuitem" href="javascript:window.location.reload();"><i class="fa fa-refresh"></i></a>
        <a class="rightmenuitem" href="javascript:rightmenu.scrollToTop();"><i class="fa fa-arrow-up"></i></a>
    </div>
    <div class="rightmenugroup rightmenu-bottom">
        <a class="rightmenuitem" href="javascript:rightmenu.copySelect();">
            <i class="fa fa-copy"></i>
            <span>copy</span>
        </a>
        <a class="rightmenuitem" href="javascript:rightmenu.googleSelect();">
            <i class="fa fa-google"></i>
            <span>google</span>
        </a>
    </div>
</div>