
<div class="row">
  <div class="col col-md-3 col-md-3point5 d-none d-lg-block" id="sidebar">
    <%- partial('_partial/sidebar') %>
  </div>
  <div class="col">
    <%- partial('_partial/posts') %>
    <%- partial('_partial/paginator') %>
  </div>
</div>