body {
  background-color: #F2F2F2;
  font-size: 1.25rem;
  line-height: 1.5;
}

.container {
  // max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.col-md-3point5 {width: 28%}

@import "_partial/homepage";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/sidebar";