:root {
  --backgroung-color: #F2F2F2;
  --card-backgroung-color: #FFFFFF;
  --light-cark-backgroung-color: #ffffff;
  --font-color: #333333;
  --rgba-font-color: rgba(0, 0, 0, 0.8);
  --rgba-font-light-color: rgba(0, 0, 0, 0.6);
  --icon-color: #333333;
  --color-animation: color 0.3s ease-in-out, background-color .3s ease-in-out;
  --text-bg-hover: #3498db
  --blur-color: #bc13fe;
  --code-bg-color: #ecf0f1;
  --code-text-color: #2c3e50;
  --code-top-color: #d3d6db;
  --small-code-bg-color: #ecf0f1;
  --small-code-border-color: #ddd;
  --on-button-color: #444;
  --shadow-color: #9FFFB8;
}

:root[data-theme="dark"]{
  --backgroung-color: #333333;
  --card-backgroung-color: #21252b;
  --light-cark-backgroung-color: #555555;
  --font-color: #F2F2F2;
  --rgba-font-color: rgba(255,255,255, 0.8);
  --rgba-font-light-color: rgba(255,255,255, 0.6);
  --icon-color: #F2F2F2;
  --text-bg-hover: #2980b9
  --blur-color: #bc13fe;
  --code-bg-color: #444;
  --code-text-color: #ecf0f1;
  --code-top-color: #303841;
  --small-code-bg-color: #222;
  --small-code-border-color: #222;
  --on-button-color: #c9c9c9
  --shadow-color: rgb(30, 212, 152);
}

body {
  background-color: var(--backgroung-color);
  font-size: 1.25rem;
  line-height: 1.5;
  transition: var(--color-animation);
}

.container {
  // max-width: 960px;
  margin: 0 auto;
  padding-top: 2em;
}

a {
  text-decoration: none;
}

.col-md-3point5 {width: 28%}

@import "_partial/homepage";
@import "_partial/post";
@import "_partial/postlist";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/sidebar";
@import "_partial/rightmenu";
@import "_partial/footer";
@import "_partial/tags";