<footer>
    <div class="foolinks">
        <div class="links">
            <span>連結</span>
            <div>
                <a href="/">友連</a>
            </div>
        </div>
        <div class="about">
            <span>關於</span>
            <div>
                <a href="mailto:phillychi3@gmail.com">聯絡我</a>
                <a href="https://github.com/phillychi3">github</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>© 2023 ~ 2023</span>
        <span><%= config.title %></span>
        <span>By</span>
        <span><%= config.author %></span>
    </div>
    <div class="powerby">
        <span>
            Powered by
            <a target="_blank" href="https://hexo.io/">Hexo</a>
            &
            <a target="_blank" href="https://github.com/phillychi3/wait">Wait</a>
        </span>
    </div>
</footer>