<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= config.title %></title>
  <%- css('css/bootstrap.min.css') %>
  <%- css('css/style.css') %>
  <script>
    let themecolor = localStorage.getItem('theme');
    if (themecolor == null) {
      document.documentElement.setAttribute('data-theme', 'light');
    } else {
      document.documentElement.setAttribute('data-theme', themecolor);
    }
  </script>
</head>