<div class="homepage">
    <%- partial('_partial/header') %>
    <% if(type=="index"){ %>
        <%- partial('_partial/headerimage',{height:'headfill',type:type}) %>
    <% }else{ %>
        <%- partial('_partial/headerimage',{height:'head40',type:type}) %>
    <% } %>
</div>