<div class="sidebar">
    <%- partial('_components/infocard') %>
    <%- partial('_components/newestpost') %>
    <% for (var i in theme.customize) { %>
        <%- partial('_components/customize', {item: theme.customize[i]}) %>
    <% } %>

</div>