.page-nav
  display: inline-block
  text-align: center
  width: 100%
  margin-top: 20px

  .page-number
    display: inline-block
    margin: 0 5px
    padding: 0 8px
    border-radius: 5px
    color: var(--font-color)
    cursor: pointer

    &:hover
      background-color: var(--current-hover-color)

  .current
    background: var(--current-color)
    color: var(--current-text-color)
    box-shadow: 0 0 5px var(--current-blur)



:root
  --current-color: #FFC0CB
  --current-text-color: #444
  --current-blur: #FF00BF
  --current-hover-color: #edb1f1

:root[data-theme="dark"]
  --current-color: #F9629F
  --current-text-color: #fff
  --current-blur: #FF00BF
