
.code_top
  display: flex;



.hljs
  background: rgba(0,0,0,0)!important;
  color: #2c3e50!important;

.gutter
  background: rgba(0,0,0,0)!important;
  color: #2c3e50!important;


.gutter
  padding-left:10px;
  text-align: right;
  color: #2c3e50!important;
  position: sticky;
  overflow-x: visible!important;
  overflow-y: hidden;
  left: 0;
  z-index: 1;


.code_table
  background: #ecf0f1;
  color: #2c3e50;
  overflow-x: auto;
  overflow-y: hidden;
  max-width : 100%;
  position: relative;



.post
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  border-radius: 20px;
  overflow: hidden;


.post img
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;

