
#rightmenu
  background-color: var(--light-cark-backgroung-color);
  border: 1px solid var(--font-color);
  border-radius: 8px;
  position: fixed;
  width: 170px;
  z-index: 999;
  transition: 0.3s ease-in-out;
  display: none;

  &:hover
    box-shadow: 0 0 2px var(--blur-color);
    border: 1px solid var(--blur-color);


  .rightmenugroup
    padding: .3rem .3rem;


  .rightmenugroup:not(:nth-last-child(1))
    border-bottom: 1px solid var(--font-color);


  .rightmenu-top
    display: flex;
    justify-content: space-between;


  .rightmenu-bottom .rightmenuitem
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 0 4px;
    align-items: center


  .rightmenuitem
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    transition: 0.3s;
    color: var(--font-color);
    &:hover
      background-color: var(--text-bg-hover);

    i
      text-align: center;
      line-height: 30px;
      width: 30px;
      height: 30px;

    span
      line-height: 30px;
    .menu-small-text
      font-size: 14px;

